html,
body {
  margin: 0px;
  padding: 0px;
}
p {
  font-family: monospace;
  font-size: 8vw;
  text-align: justify;
  margin: 0px;
  word-break: break-all;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #888;
}

small {
  color: #888;
}

button {
  cursor: pointer;
  padding: 4px 8px;
  color: #fff;
  background: #000;
  border: 2px solid #000;
  border-left: none;
  font-family: monospace;
  font-size: 4vw;
}

button:hover {
  color: #000;
  background: #fff;
}
